/* Font Family */
@font-face {
    font-family: 'Gilroy_reg';
    src: url('../fonts/gilroy-regular.ttf');
}

@font-face {
    font-family: 'Gilroy_bold';
    src: url('../fonts/gilroy-bold.ttf');
}

@font-face {
    font-family: 'Gilroy_semibold';
    src: url('../fonts/gilroy-semibold.ttf');
}

/* Basic Settings */
html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    
    font-family: 'Gilroy_reg', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #3B3D46;
}

button:focus, input:focus, a:focus, textarea:focus {
    outline: none;
}



.btn-reset {
  padding: 0;
  border: none;
  font-family: 'Gilroy_reg', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.btn {
    font-family: 'Gilroy_bold', sans-serif;
    font-size: 1.6rem;
    
    border: 1px solid #00B4E3;
    border-radius: 5px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Toggle */
.phone {
    display: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.line {
    width: 24px;
    height: 3px;
    margin: 5px;
    background-color: #00B4E3;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

/* Accordion */
/*
.accardion_wrapper {
    min-width: 1170px;
}
*/

.accordion_item {
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
}

.accordion_item-title {
    padding: 1.5rem 2rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    
    background-color: #F1F7F8;
    border-radius: 10px;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 1.8rem;
    cursor: pointer;
    
    position: relative;
    z-index: 2;
}


.accordion_item-circle {
    margin-right: 3rem;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
}

.accordion_item-plus {
    width: 2rem;
    height: 2rem;
    background: url('../img/icons/8.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.accordion_item-content {
    position: relative;
    padding: 3.5rem 9rem;
    
    background-color: #fff;
    box-shadow: 0px 3px 20px #EAECEF;
    border-radius: 10px;
    
    font-size: 1.6rem;
    line-height: 1.6;
    display: none;
/*    height: 0;*/
    overflow: hidden;
}

.accordion_item.active_one .accordion_item-content {
    display: block;
}

.accordion_item.active_one .accordion_item-title {
    color: #00B4E3;
}

.accordion_item.active_one .accordion_item-plus {
    background: url('../img/icons/9.svg') center no-repeat;
}

/* Slider */


/* Header */
.header {
    padding: 2.5rem 0; 

    position: relative;
}

.header_inner, .header_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_item {
    padding-right: 3rem;
}

.header_item:last-child {
    padding-right: 0;
}

.header_link {
    font-size: 1.6rem;
    text-decoration: none;
    
    color: inherit;
}

.header_link:hover {
    text-decoration: underline;
}

.header_phone {
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    text-decoration: none;
    
    color: #00B4E3;
}

.header_text {
    display: block;
    padding-left: 1.8rem;
    
    font-size: 1.4rem;
    text-align: center;
    line-height: 1;
    
    opacity: .6;
}

.header_btn {
    margin-left: 3rem;
    padding: 1.3rem 2.3rem;
    
    color: #00B4E3;

    line-height: 1.1;
    
    transition: all .2s linear;
}

.header_btn:hover {
    background-color: #00B4E3;
    color: #fff;
}


/* Main */
.main {
    margin-bottom: 12rem;
    
    background: url('../img/main-bg.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}

.main_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.main_inner {
    max-width: 700px;
    padding: 6rem 5rem 9rem;
    
    background-color: #fff;
    opacity: .95;
    
    overflow: hidden;
    
    position: relative;
}

.main_title {
    font-family: 'Gilroy_bold', sans-serif;
    font-size: 4.8rem;
    line-height: 1.4;
}

.main_title span {
    color: #00B4E3;
}

.main_subtitle {
    margin-top: 1.4rem;
    font-size: 2rem;
}

.main_list {
    display: inline-block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    margin-top: 4rem;
}

.main_item {
    margin-bottom: 2.5rem;
    padding-left: 4.9rem;
    
    font-size: 1.6rem;
    line-height: 1.6;
    
    position: relative;
}

.main_item:last-child {
    margin-bottom: 0;
}

.main_item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    width: 2.7rem;
    height: 2.493rem;
}

.main_item:nth-child(1)::before {
    content: '';
    background: url('../img/icons/1.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main_item:nth-child(2)::before {
    content: '';
    width: 3rem;
    height: 2.9rem;
    background: url('../img/icons/2.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main_item:nth-child(3)::before {
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background: url('../img/icons/3.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main_item:nth-child(4)::before {
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background: url('../img/icons/4.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main_item:nth-child(5)::before {
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background: url('../img/icons/5.svg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main_btn {
    display: inline-block;
    margin-left: -4.9rem;
    padding: 1.9rem 5.5rem;
    
    background-color: #00B4E3;
    color: #fff;
    
    transition: all .2s linear;
}

.main_btn:hover {
    background-color: transparent;
    color: #00B4E3;
}

.main_comment {
    display: block;
    height: 4rem;
    margin: 6rem 0 0 -3rem;
    padding: 1.1rem 2.2rem .9rem;
    
    background-color: #00B4E3;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    
    font-family: 'Gilroy_bold', sans-serif;
    font-size: 1.6rem;
    line-height: 1.1;
    
    position: relative;
    z-index: 3;
}

.main_square {
    position: absolute;
    width: 42.4px;
    height: 34px;
    top: 105px;
    right: -19px;
    z-index: 1;
    
    transform: rotate(45deg);
    
    background-color: #0099C1;
}

/* Features */
.features_title {
    margin-bottom: 2rem;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
}

.features_stripe {
    margin: 0 auto;
    width: 6rem;
    
    border: 1px solid #00B4E3;
}

.features_subtitle {
    margin: 2rem 0 5rem;
    
    font-size: 2rem;
    text-align: center;
}

.features_wrap {
    margin-bottom: 12rem;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 270px);
    gap: 30px;
}

.features_card {
    max-width: 32rem;
    padding: 2.3rem 2.5rem 4.5rem 2.5rem;
    background-color: #FEFEFE;
    box-shadow: 0px 3px 20px #EAECEF;
    border-radius: 10px;
}

.features_card--pb {
    padding-bottom: 1.9rem;
}

.features_card-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.features_card-icon {
    width: 3.8rem;
    height: 3.509rem;
    padding: 1.6rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    
    background-color: #FEFEFE;
    box-shadow: 0px 3px 20px #EAECEF;
    border-radius: 10px;
}

.features_card-title {
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
}

.features_card-list {
    margin-left: 2.5rem;
    list-style-type: disc;
}

.features_card-item {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 1.6;
}

/* application */

.application {
    padding: 9rem 0;
    margin-bottom: 13.5rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    
    background-color: #F4F9F9;
}

.application_inner {
    padding: 6rem 7rem;
    background-color: #fff;
}

.application_top {
    margin-bottom: 6rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.application_title {
    margin-right: 4rem;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 4rem;
    line-height: 1.2;
}

.application_stripe {
    height: 6rem;
    border-left: 2px solid #00B4E3;
}

.application_text {
    margin-left: 2.8rem;
    
    font-size: 2rem;
    line-height: 1.6;
}

.application_form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.application_form-top {
    display: inline-block;
    margin-bottom: 2rem;
}

.application_form-bottom {
    display: inline-block;
}

.application_form-input--mr {
    margin-right: 2rem;
}

.application_form-input {
    min-width: 263px;
    padding: 1.8rem 2rem;
    
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    
    font-size: 1.6rem;
    line-height: 1.6;
    
    opacity: .6;
}

.application_form-input:focus {
    border-color: #00B4E3;
}

.application_form-right {
    text-align: center;
}

.application-btn {
    padding: 1.9rem 7.3rem;
    margin-bottom: 2.8rem;
    
    background-color: #00B4E3;
    border-radius: 5px;
    color: #fff;
    
    transition: all .2s linear;
}

.application-btn:hover {
    display: inline-block;
    background-color: #fff;
    color: #00B4E3;
}

.application_form-text {
    display: inline-block;
    max-width: 286px;
    
    font-size: 1.4rem;
    text-align: center;
}

/* Answers */
.answers {
    margin-bottom: 12rem;
}

.answers_inner {
    margin-bottom: 6.5rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.answers_title {
    margin-right: 5.5rem;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 4rem;
    line-height: 1.2;
}

.answers_stripe {
    height: 7rem;
    border-left: 2px solid #00B4E3;
}

.answers_text {
    margin-left: 2.8rem;
    max-width: 470px;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 2.4rem;
    line-height: 1.3;
}

/* Footer */
.footer {
    overflow: hidden;
}

.footer_top {
    margin-bottom: 3.4rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.footer_title {
    margin-right: 6rem;
    
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 2.4rem;
    line-height: 1.3;
}

.footer_stripe {
    height: 6rem;
    border-left: 2px solid #00B4E3;
}

.footer_adress {
    margin-left: 6rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.footer_text {
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

.footer_link {
    margin-right: 8.8rem;
    font-size: 1.4rem;
    text-decoration: none;
    
    color: #00B4E3;
    border-bottom: 1px dashed #00B4E3;
}

.footer_mail {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.footer_time {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.footer_time p {
    font-size: 1.4rem;
}

.footer_center {
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    z-index: 9;
}

.footer_bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    width: 1920px;
    height: 100%;
    background-color: #F4F9F9;
}

.footer_logo img {
    margin-bottom: 1rem;
    margin-right: 4.8rem;
    width: 199px;
    height: 53px;
}

.footer_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    z-index: 10;
}

.footer_logo p {
    font-size: 1.4rem;
    
    opacity: .8;
}

.footer_wrap {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 21px;
}

.footer_list {
    font-size: 1.4rem;
    line-height: 2;
}

.footer_phone {
    margin-left: 5rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.footer_phone a {
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 3rem;
    line-height: 1.6;
    text-decoration: none;
    color: #00B4E3;
}

.footer_phone p {
    font-family: 'Gilroy_semibold', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

.footer_bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.footer_bottom-text {
    padding: 2.6rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    
    opacity: .8;
}

/* Кружочки */
.slider-dots {
    margin-bottom: 7rem;
    text-align: center;
    display: none;
}
.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #00B4E3;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Media */
@media (max-width: 1200px) {
    .features_wrap {
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(3, 270px);
        justify-content: center;
    }
    
    .application_title  {
        font-size: 3rem;
    }
    
    .application_form {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .application_form-left {
        text-align: center;
    }
    
    .application_form-right {
        margin-top: 2rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .answers_title {
        font-size: 3rem;
    }
    
    .answers_text {
        font-size: 2rem;
    }
    
    .footer_adress {
        margin-left: 4rem;
    }
    
    .footer_link {
        margin-right: 4.8rem;
    }
    
    .footer_phone a {
        font-size: 2rem;
    }
    
    .footer_center {
        justify-content: center;
    }
    
    .footer_inner {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .footer_logo img {
        margin: 0;
    }
    
    .footer_logo {
        margin-bottom: 2rem;
    }
    
    .footer_phone {
        margin: 0;
        margin-top: 2rem;
    }
    
    .footer_wrap {
        gap: 50px;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .burger {
        order: -1;
        display: block;
    }
    
    .phone {
        display: inline-block;
    }
    
    .header_list {
        display: none;
    }
    
    .header_wrap {
        display: none;
    }
    
    .main_title {
        font-size: 3.8rem;
    }
    
    .main_comment {
        font-size: 1.4rem;
        line-height: 1;
    }
    
    .features_title {
        font-size: 3rem;
    }
    
    .features_subtitle {
        font-size: 1.5rem;
    }
    
    .features_card-title {
        font-size: 1.6rem;
    }
    
    .features_card-item {
        font-size: 1.4rem;
    }
    
    .features_card-icon {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 2.8rem;
        height: 2.509rem;
    }
    
    .application_title {
        font-size: 2.5rem;
    }
    
    .application_text {
        font-size: 1.5rem;
    }
    
    .answers_title {
        font-size: 2.5rem;
    }
    
    .answers_text {
        font-size: 2rem;
    }
    
    .footer_top {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    
    .footer_title {
        margin: 0;
        margin-bottom: 1.5rem;
    }
    
    .footer_stripe {
        height: 0;
        width: 6rem;
        border-bottom: 2px solid #00B4E3;
    }
    
    .footer_adress {
        margin: 1.5rem 0 2rem;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
    
    .footer_mail {
        margin: 0 0 2rem;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
    
    .footer_time {
        margin: 0;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
    
    .footer_text {
        margin-right: 2rem;
    }
}

.header_list.list_active {
    position: absolute;
    top: 58px;
    left: 0;
    display: flex;
    width: 100%;
    height: 100px;
    z-index: 15;
    
    background-color: #fff;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 992px) {
    .main_comment {
         display: none;   
    }
    
    .main_square {
        display: none;
    }
}

@media (max-width: 800px) {
    .slider-dots {
        display: block;
    }
    
    .main_btn {
        padding: 2rem 5rem;
    }

    .features_title {
        font-size: 2.5rem;
    }

    .features_wrap {
        margin-bottom: 3rem;
        display: flex;
    }

    .application_title {
        margin-right: .5rem;
    }

    .application_form-input--mr {
        margin-right: 0;
    }

    .application_form-input {
        margin-bottom: 1rem;
    }

    .answers_title {
        margin-right: .5rem;
    }

    .footer_wrap {
        gap: 20px;
    }
}

@media (max-width: 540px) {
    .header {
        border-bottom: 1px solid #E6E6E6;
    }

    .main_title {
        font-size: 3rem;
    }

    .main_list {
        column-count: 1;
    }

    .application_top {
        flex-direction: column;
        align-items: flex-start;
    }

    .application_inner {
        padding: 3rem;
    }

    .application_title {
        text-align: left;
    }

    .application_stripe {
        margin: 2rem 0;
        width: 6rem;
        height: 0;
        border-bottom: 2px solid #00B4E3;
    }

    .application_text {
        margin: 0;
    }

    .answers_inner {
        padding: 3rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .answers_title {
        margin: 0;
    }

    .answers_stripe {
        margin: 2rem 0;
        width: 7rem;
        height: 0;
        border-bottom: 2px solid #00B4E3;
    }

    .answers_text {
        margin: 0;
    }

    .footer_link {
        margin-right: 0;
    }

    .footer_text {
        margin-right: .5rem;
    }

    .footer_wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
    }

    .footer_list {
        line-height: 1.5;
    }

    .container {
        padding: 0 1rem;
    }

    .application_inner {
        padding: 0;
    }

    .list_active {
        padding: 2rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_item {
        margin-top: 1rem;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .header {
        padding: 1.6rem 0;
        margin: 0;
    }

    .main {
        margin-bottom: 7rem;
        background: linear-gradient(180deg, #FFFFFF 43.21%, rgba(255, 255, 255, 0) 100%), #F1F7F8;
    }

    .main_inner {
        padding: 3rem 0 6rem;
        background-color: transparent;
    }

    .main_title {
        font-size: 2.4rem;
    }

    .main_subtitle {
        display: none;
    }

    .main_item {
        font-size: 1.4rem;
    }

    .features_title {
        font-size: 2rem;
    }

    .features_subtitle {
        margin-bottom: 3rem;
    }

    .features_card {
        padding: 1.5rem 1.5rem 3rem;
        max-width: 260px;
    }

    .application {
        padding-bottom: 3rem;
        padding-top: 2rem;
        margin: 0;
    }

    .application_title {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .application_text {
        font-size: 1.4rem;
    }

    .application_top {
        margin-bottom: 3rem;
    }

    .application_form-text {
        font-size: 1.2rem;
    }

    .answers {
        margin-bottom: 7rem;
    }

    .answers_inner {
        padding-right: 0;
        padding-left: 0;
        padding-top: 7rem;
        padding-bottom: 3rem;
        margin: 0;
    }

    .answers_title {
        font-size: 2rem;
    }

    .answers_text {
        font-family: 'Gilroy_reg', sans-serif;
        font-size: 1.4rem;
    }

    .accordion_item-title {
        font-size: 1.4rem;
    }

    .accordion_item-content {
        padding: 2rem 1rem;
        font-size: 1.4rem;
    }
    
    .footer_adress {
        flex-direction: column;
        text-align: center;
    }

    .footer_mail {
        flex-direction: column;
        text-align: center;
    }

    .footer_time {
        flex-direction: column;
        text-align: center;
    }

    .footer_list {
        line-height: 1.9;
    }
}








