.footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 124px;
}

.footer__container {
    justify-content: space-between;
}

.footer__title {
    position: relative;
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: var(--dark-color);
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.footer__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #57a773;
    width: 48px;
    height: 1px;
}

.footer__link {
    font-weight: 500;
    font-size: 13px;
    color: #959ea6;
    display: inline-block;
    margin-bottom: 12px;
    transition: color .3s ease-in-out;
}

.footer__link:hover {
    color: #62676b;
    transition: color .3s ease-in-out;
}

.subs-form {
    width: 368px;
}

.subs-form__field {
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    padding-left: 31px;
    background: url('../../img/user.svg') calc(100% - 31px) center no-repeat;
}

.subs-form__btn {
    width: 100%;
    background-color: var(--neptune-color);
    height: 64px;
    margin-top: 16px;
    transition: background-color .3s ease-in-out;
}

.subs-form__btn:hover {
    background-color: var(--neptune-hover-color);
    transition: background-color .3s ease-in-out;
}

.footer__bottom {
    border-top: 1px solid #d9d9d9;
    margin-top: 120px;
    padding: 30px 0;
}

.bottom-container {
    justify-content: space-between;
}

.footer__copy {
    font-size: 13px;
    color: #959ea6;
}

.footer__links {
    display: flex;
}

.footer__links-item {
    margin-left: 40px;
}