:root {
    --white-color: #fff;
    --black--color: #000;
    --dark-color: #1C2E3D;
    --accent-color: #E8594E;
    --accent-hover-color: #db1e11;
    --neptune-color: #73afba;
    --neptune-hover-color: #169eb6;
}